[submodule "backend"]
	path = backend
	url = https://github.com/djunigari/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/djunigari/frontend.git
[submodule "admin-frontend"]
	path = admin-frontend
	url = https://github.com/djunigari/admin-frontend.git
[submodule "user-frontend"]
	path = user-frontend
	url = https://github.com/djunigari/user-frontend.git
